# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
**/build/

# Android
android/.gradle/
android/.kotlin/errors
android/app/build/
android/local.properties

# iOS/macOS (на всякий)
ios/Pods/
ios/Flutter/ephemeral/
macos/Pods/

# Windows/Linux desktop build
windows/**/build/
linux/**/build/

# IDE
.idea/
.vscode/
*.iml